<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/menu-bar.css">
    <title>NIÑOS</title>
</head>
<body>
    <header>
        <script src="https://kit.fontawesome.com/96ca335d68.js" crossorigin="anonymous"></script>
        <a href="#" class="logo">&nbsp;ELEL</a>

        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">MENU</label>

        <nav class="navbar">
            <ul>
                <li><a href="/frontend/index.html">INICIO</a></li>
                <li><a href="/frontend/template/html/news.html">NOVEDADES</a></li>
                <li><a href="/frontend/template/html/products.html">PRODUCTOS +</a>
                    <ul>
                        <li><a href="/frontend/template/html/product-woman.html">FEMENINA</a></li>
                        <li><a href="/frontend/template/html/products-man.html">MASCULINA</a></li>
                        <li><a href="/frontend/template/html/products-child.html">NIÑOS</a></li>
                    </ul>
                </li>
                <li><a href="/frontend/template/html/about-us.html">SOMOS</a></li>
                <li><a href="/frontend/template/html/contacts.html">CONTACTO</a></li>
                <li><a href="/frontend/template/html/store.html">TIENDA</a></li>
                <li><a href="/frontend/template/html/favorite.html"><i class="fa-solid fa-heart"></i></a></li>
                <li><a href="/frontend/template/html/shopping-cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/frontend/template/html/profile.html"><i class="fa-solid fa-user"></i></a></li>
                
            </ul>
        </nav>
    </header>
</body>
</html>